@using HRMaster_MVC_Project.Models.Enums
@using HRMaster_MVC_Project.Models.ViewModels
@model PersonelRegisterVM

@{
    ViewData["Title"] = "Yeni Personel Ekle";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AdminStyle.css" />
}


@if(ViewData["ErrorAddPersonel"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type = "button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Uyarı!</h5>
        @ViewData["ErrorAddPersonel"]
    </div>
}

<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">@ViewData["Title"]</h2>
            <form asp-action="AddPersonel" method="post" enctype="multipart/form-data">
                @* <div asp-validation-summary="All" lang="tr" class="text-danger"></div> *@
                <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="PicturePath" class="form-label">Profil Fotoğrafı</label>
                    <input asp-for="PicturePath" type="file" class="form-control" id="picture">
                    <span asp-validation-for="PicturePath" class="text-danger"></span>
                </div>

                <!-- Temel Bilgiler -->
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="form-label">Adı</label>
                    <input asp-for="Name" type="text" class="form-control" id="name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="SecondName" class="form-label">İkinci Adı</label>
                    <input asp-for="SecondName" type="text" class="form-control" id="secondName">
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Surname" class="form-label">Soyadı</label>
                    <input asp-for="Surname" type="text" class="form-control" id="surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="SecondName" class="form-label">İkinci Soyadı</label>
                    <input asp-for="SecondName" type="text" class="form-control" id="secondSurname">
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>

                <!-- İş Bilgileri -->
                <div class="col-md-6 mb-3">
                    <label asp-for="Job" class="form-label">Meslek</label>
                    <input asp-for="Job" type="text" class="form-control" id="job">
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Title" class="form-label">Ünvan</label>
                    <input asp-for="Title" type="text" class="form-control" id="title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <!-- Kişisel Bilgiler -->
                <div class="col-md-6 mb-3">
                    <label asp-for="BirthDate" class="form-label">Doğum Tarihi</label>
                    <input asp-for="BirthDate" type="date" class="form-control" id="birthDate">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="BirthState" class="form-label">Doğum Yeri</label>
                    <input asp-for="BirthState" type="text" class="form-control" id="birthState">
                    <span asp-validation-for="BirthState" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="IdentityNumber" class="form-label">TC Kimlik No</label>
                    <input asp-for="IdentityNumber" type="text" class="form-control" id="identityNumber">
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Address" class="form-label">Adres</label>
                    <input asp-for="Address" type="text" class="form-control" id="adress">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Telefon</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" id="phoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Salary" class="form-label">Maaş</label>
                    <input asp-for="Salary" type="number" step="0.01" class="form-control" id="salary">
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>

                <!-- İşe Giriş ve İşten Çıkış Tarihleri -->
                <div class="col-md-6 mb-3">
                    <label asp-for="HireDate" class="form-label">İşe Giriş Tarihi</label>
                    <input asp-for="HireDate" type="date" class="form-control" id="hireDate">
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>

                <!-- Diğer Bilgiler -->
                <div class="col-md-6 mb-3">
                    <label asp-for="Gender" class="form-label">Cinsiyet</label>
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="MarialStatus" class="form-label">Medeni Durum</label>
                    <select asp-for="MarialStatus" class="form-control" asp-items="Html.GetEnumSelectList<MarialStatus>()"></select>
                    <span asp-validation-for="MarialStatus" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="BloodGroup" class="form-label">Kan Grubu</label>
                    <select asp-for="BloodGroup" class="form-control" asp-items="Html.GetEnumSelectList<BloodGroup>()"></select>
                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                </div>
                </div>
                <!-- Gönder ve İptal Butonları -->
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-success w-100 mb-1">Ekle</button>
                    <a asp-action="Index" asp-controller="CEOsPanel" asp-area="CEOPanel" class="btn btn-outline-danger w-100">Vazgeç</a>
                </div>
               
             
            </form>
        </div>
    </div>
</div>

<script src="~/js/date.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

