@model HRMaster_MVC_Project.Models.ViewModels.ResetPasswordVM

@{
    Layout = "_LoginLayout";
}

<h2>@ViewData["Title"]</h2>


<div class="login-box">
    <div class="login-logo">
        <a asp-action="Index" asp-controller="Home"><b>Hero</b>Resources</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Şifrenizi yenilemek için yeni şifrenizi girin ve onaylayın!</p>

            <form asp-action="ResetPassword" method="post">
                <div class="form-group">
                    <label for="Email">E-posta</label>
                    <input asp-for="Email" type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly />
                </div>
                <div class="form-group">
                    <input type="hidden" id="Token" name="Token" value="@Model.Token" />
                </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>                        
                    </div>

                </div>
                <div class="mb-2">
                    <span class="text-muted">Şifre en az 6 karakter uzunluğunda olmalı, en az bir büyük harf, bir küçük harf, bir rakam ve bir özel karakter içermelidir.</span>
                </div>

                <div>
                    <span asp-validation-for="ConfirmNewPassword" lang="tr" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Tekrar Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    
                </div>
           
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Şifreyi Sıfırla</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a asp-action="Login" asp-controller="Login" class="btn btn-outline-success">Giriş Yap</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>