@using HRMaster_MVC_Project.Areas.EmployeePanel.Models.ViewModels
@{
    ViewData["Title"] = "Bilgileri Güncelle";
}

@model UpdateEmployeeVM
<body>
    <main class="container d-flex justify-content-center" style="margin-top:20px">
        <form asp-action="UpdateEmployee" method="post" enctype="multipart/form-data" style="width: 100%; max-width: 600px ;">
            <div class="card card-light">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="/Photos/@Model.PicturePath" alt="Employee Fotoğrafı" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                    </div>
                    <div class="mb-3">
                        <label for="picture" class="form-label">Yeni Fotoğraf Yükle</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="UpdatedPicture" type="file" class="custom-file-input" id="picture">
                                <label class="custom-file-label" for="picture">Dosya seçin...</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Adres</label>
                        <input type="text" asp-for="UpdatedAddress" class="form-control" placeholder="@Model.Address">
                        <span asp-validation-for="UpdatedAddress" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Telefon</label>
                        <input type="text" asp-for="UpdatedPhone" class="form-control" placeholder="@Model.PhoneNumber">
                        <span asp-validation-for="UpdatedPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-action="Index" asp-controller="EmployeesPanel" asp-area="EmployeePanel" class="btn btn-secondary">İptal</a>
                </div>
            </div>
        </form>
    </main>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>

