html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.img-circle {
    width: 50px; /* Geniþliði ayarlayýn */
    height: 50px; /* Yüksekliði ayarlayýn */
    border-radius: 50%; /* Resmi yuvarlak yapar */
    object-fit: cover; /* Resmin çerçeveye sýðmasýný saðlar, görüntüyü kýrpar */
}